

h1, h2 ,h3, p  {
    text-align: center;
}

*{
    box-sizing: border-box;
}




@font-face{
    font-family:"Minecraftia";
    src: url("./Minecraftia-Regular.ttf") format("truetype");
}

body{
    font-family: "Minecraftia", sans-serif;
    background-color: rgb(244, 241, 242);


}
   
 .bullet-grid {
    display : grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
 }   
    
    




.intro{
   border-bottom: 3px dotted #111;
   padding-bottom: 4px;
   margin-bottom: 6px;
   padding: 10px;

}
.firstbox{
    border: 6px solid  rgb(14, 101, 183);
    height: 200px;
    width: calc(100%-10px);
    margin: 1px auto;
    background-color: rgba(173, 228, 251, 0.963);
    border-radius:10px;
    color:rgb(45, 115, 181);
    padding: 8px;
}

.hobbybox{
    border: 6px solid  rgb(119, 123, 93);
    height: 200px;
    width: calc(100%-10px);
    margin: 1px auto;
    background-color: rgba(219, 246, 144, 0.963);
    border-radius:10px;
    color:rgb(144, 149, 90);
    padding: 8px;
}

.goalbox{
    border: 6px solid  rgb(120, 93, 123);
    height: 200px;
    width: calc(100%-10px);
    margin: 1px auto;
    background-color: rgba(232, 144, 246, 0.963);
    border-radius:10px;
    color:rgb(136, 90, 149);
    padding: 8px;
}

.bold{
    font-weight: bold;
}


.a{
    height:50px;
    width:80px;
}
.b{
     height:50px;
    width:80px;

}
.c{ height:50px;
    width:80px;}

.d{ height:50px;
    width:80px}
.h{
    height:30px;
    width:90px}
.secondbox{
   
   
    border: 6px solid  rgb(10, 133, 61);
    height: 200px;
     width: calc(100%-10px);
    margin: 1px auto;
    background-color: rgba(123, 218, 167, 0.963);
    border-radius:10px;
    color:rgb(36, 144, 72);
    padding: 8px;
}

.thirdbox{
   
    border: 6px solid  rgb(153, 26, 26);
    height: 270px;
     width: calc(100%-10px);
    margin: 1px auto;
    background-color: rgba(225, 125, 125, 0.963);
    border-radius:10px;
    color:rgb(163, 39, 45);
    padding: 8px;
}
