@font-face{
    font-family:"Minecraftia";
    src: url("./Minecraftia-Regular.ttf") format("truetype");
}

body{
    font-family: "Minecraftia", sans-serif;
    background-color: rgb(244, 241, 242);


}
   
    
    
    




.intro{
   border-bottom: 3px dotted #111;
   padding-bottom: 4px;
   margin-bottom: 6px;
   padding: 10px;

}
.firstbox{
    border: 6px solid  rgb(14, 101, 183);
    height: 200px;
    width: 325px;
    background-color: rgba(173, 228, 251, 0.963);
    border-radius:10px;
    color:rgb(45, 115, 181);
    padding: 8px;
}
.bold{
    font-weight: bold;
}


.a{
    height:50px;
    width:80px;
}
.b{
     height:50px;
    width:80px;

}
.c{ height:50px;
    width:80px;}

.d{ height:50px;
    width:80px}
.h{
    height:30px;
    width:90px}
.secondbox{
   
    margin-left:250px;
    margin-top:10px;
    border: 6px solid  rgb(10, 133, 61);
    height: 200px;
    width: 325px;
    background-color: rgba(123, 218, 167, 0.963);
    border-radius:10px;
    color:rgb(36, 144, 72);
    padding: 8px;
}

.thirdbox{
    margin-top:10px;
    border: 6px solid  rgb(153, 26, 26);
    height: 270px;
    width: 375px;
    background-color: rgba(225, 125, 125, 0.963);
    border-radius:10px;
    color:rgb(163, 39, 45);
    padding: 8px;
}
